* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.nav-content {
    padding: 20px 0;
    color: white;
    background-color: black;
}
.nav {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar a {
    padding: 0 5px;
    margin: 0 5px;
}
.btn a {
    padding: 5px 10px;
    background: blue;
    border-radius: 100px;
}